<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" type="text/css" href="all.css">

</head>
<body>

<h2>Список сотрудников</h2>
<table class="table">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Должность</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button id="addButton">Добавить нового сотрудника</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function loadEmployees() {
            $.ajax({
                url: '/rest/employee',
                type: 'GET',
                success: function (employees) {
                    const tableBody = $('.table tbody');

                    tableBody.empty();

                    employees.forEach(function (employee) {
                        var employeeRow = $('<tr></tr>');
                        employeeRow.append('<td><a href="/employee/' + employee.id + '" class="link">' + employee.firstName + '</a></td>');
                        employeeRow.append('<td>' + employee.patherName + '</td>');
                        employeeRow.append('<td>' + employee.lastName + '</td>');
                        employeeRow.append('<td>' + employee.position + '</td>');
                        tableBody.append(employeeRow);
                    });
                },
                error: function (request, errorType, errorMessage) {
                    alert('Ошибка: ' + errorType + ' с сообщением: ' + errorMessage);
                }
            });
        }

        $('#addEmployeeButton').click(function () {
            window.location.href = '/employee/add';
        });

        loadEmployees();
    });
</script>

</body>
</html>
